<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>
  <%= raw stylesheet_link_tag "colorbox" %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" %>
    <%= javascript_include_tag "jquery.colorbox-min" %>
    <%= javascript_include_tag('application', :theme => true) %>
  <% end %>



  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header>
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= raw render :partial => "/shared/javascripts" %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22575941-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })()
    </script>
  </body>
</html>
